{% extends "base_generic.html" %}

{% block content %}

<div class="container text-center">
    <div id="form_container">
        <form method="post" action="{% url 'registration' %}">
        {% csrf_token %}
            <table class="table table-striped w-auto container text-center">
                {{ form.as_table }} <!-- оборачивает все поля формы в <tr> -->
            </table>
            <input type="submit" class="form-control btn btn-success w-auto" value="Регистрация" />
        </form>
    </div>
</div>


{% endblock %}
